body {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav {
  padding: 0px;
  width: 250px;
  height: 590px;
  background-color: rgb(170, 5, 5);
  text-align: center;
  justify-content: space-around;
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.sobrecor,
.objeticor,
.conhecicor {
  color: white;
}

#imagem {
  margin-top: 70%;
  width: 65%;
  border-radius: 100%;
  border-style: dashed;
}
main {
  margin-top: 200px;
  background-color: aqua;
}

#nome {
  color: rgb(170, 5, 5);
  font-size: 300%;
}

#infos {
  color: rgb(255, 115, 115);
  font-size: 17px;
  margin-top: 0px;
}

#descriçao {
  font-size: 12px;
}
