html {
  background-color: aliceblue;
}
body {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav {
  padding: 0px;
  width: 250px;
  height: 590px;
  background-color: rgb(170, 5, 5);
  text-align: center;
  justify-content: space-around;
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.sobrecor,
.objeticor,
.conhecicor {
  color: white;
}

.sobrecor:hover {
  font-size: 20px;
  color: wheat;
}

.objeticor:hover {
  font-size: 20px;
  color: wheat;
}

.conhecicor:hover {
  font-size: 20px;
  color: wheat;
}

.imagem {
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 100px;
  margin-left: 25px;
  margin-top: 100px;
  background-image: url(../images/eu.png);
}
main {
  margin-top: 200px;
}

#nome {
  color: rgb(170, 5, 5);
  font-size: 300%;
  text-transform: uppercase;
}

#infos {
  color: #e61818;
  font-size: 17px;
  margin-top: 0px;
}

#descriçao {
  font-size: 12px;
  color: rgb(116, 116, 116);
}

a {
  text-decoration: none;
  color: #e61818;
}
